body{margin:0}body .container{margin:200px 200px}body h1{font-size:72px;background-color:#000;color:#fff;position:absolute;bottom:30px;right:30px}header{width:100%;position:fixed;background-color:#fff;top:0;left:0}header .header-wrapper{display:flex;justify-content:space-between;align-items:center}header .header-wrapper a,header .header-wrapper nav{display:flex}header .header-wrapper nav>ul{display:flex;justify-content:space-between;list-style-type:none;text-decoration:none}header .header-wrapper nav>ul li{color:navy}header .header-wrapper nav>ul a{text-decoration:none}header .header-wrapper nav>ul a:hover{color:orange}
/*# sourceMappingURL=style.css.map */
