body{
    margin:10px 0;
}
#gora{
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
}
#gora>img{
    width: 30%;
}
#gora>ul{
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
#gora>ul a{
    text-decoration: none;
}
#gora>ul a:hover{
    color: orange;
}
#narzedzia{
    margin: 20px 0;
    width: 100%;
    height: 500px;
    background-image: url(images/foto_banner.jpg) ;
    background-size: cover; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
#napis{
    width: 400px;
}
#narzedzia>h2{
    text-align: center;

}
#narzedzia p{
    text-transform: uppercase;
    text-align: center;
}
button{
    padding: 6px;
    background: rgba(0,0,0,0.0);
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}
button:hover{
    cursor:pointer;
}